html {
  height: 100%;
}

body {
  background-color: #d6e6f2;
  font-family: "Open Sans";
  height: 100%;
  padding-top: 77px;
}

.app-name {
  margin-top: 80px;
}

.tagline {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 4rem;
  color: #769fcd;
  margin-top: -15px;
}

.app-form-box {
  text-align: center;
  width: 100%;
  max-width: 440px;
  padding: 2rem;
  background-color: #fff;
  margin-top: -77px;
}

.remember-me {
  text-align: left;
}

.subscribe {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.article-content {
  /*white-space: pre-line;*/
  line-height: 18pt; !important
  font-size: 1.2rem; !important
  font-family: Open Sans; !important;
}

.card {
  margin: 10px;
}

/* NavBar */
.navbar-brand {
  font-weight: 600;
  font-size: 2.1rem;
  letter-spacing: 2px;
}

.nav-item {
  font-size: 1.5rem;
}

.navbar {
  font-family: "Cormorant Garamond", serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #d6e6f2;
}
/* End NavBar */


.custom-check {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .check-mark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .check-mark {
  background-color: #769fcd;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .check-mark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check .check-mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#submit {
  all: unset;
}
.submit-button {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border: none;
  border-radius: 22px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 9px 22px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528ecc;
  outline: none;
}
.submit-button:hover {
  background: #80b5ea linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
}
.submit-button:active {
  position: relative;
  top: 1px;
  outline: none;
}

.checkboxes {
  padding: 10px 100px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

.select-plan {
  padding: 0 100px;
}

#home {
  position: relative;
  padding: 2% 5%;
}

.icon {
  margin-bottom: 20px;
}

.back-button {
  margin: 30px;
}

.fav-head {
  font-size: calc(2rem + 2vw);
  color: #769fcd;
  margin: auto;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.fav-head::-webkit-scrollbar {
  display: none;
}

.star-icon {
  color: gold;
}

.plan-head-name {
  position: relative;
}

/* NEW STUFF FROM HERE */
.bullhorn-icon {
  color: indianred;
}


/* PLAN TABLE CLASSES */
.plan-title {
  background-color: #769fcd;
  color: white;
  font-size: 2.5em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fav-btn {
  cursor: pointer;
}

.fav-btn-unchecked {
  color: grey;
}

.fav-btn-unchecked:hover {
  color: gold;
  opacity: 0.5;
}

.fav-btn-checked {
  color: gold;
}

.fav-btn-checked:hover {
  filter: brightness(110%);
}

.td-btn {
  cursor: pointer;
}

.td-btn-unchecked {
  color: grey;
}

.td-btn-unchecked:hover {
  color: indianred;
  opacity: 0.5;
}

.td-btn-checked {
  color: indianred;
}

.td-btn-checked:hover {
  filter: brightness(110%);
}

.plan-section {
  padding: 0.75rem;
}

.plan-section h2, h3{
  font-weight: 600;
}

/* END PLAN TABLE CLASSES */

/* BACK TO TOP BUTTON */
#back-to-top {
  position: fixed;
  bottom: calc(1em + 1vw);
  right: calc(1em + 1vw);
  height: 2.5rem;
  width: 2.5rem;
  display: none;
  background-color: #769fcd;
  color: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
}

.show {
  display: block !important;
}

/* HOME NEW VERSION */
.h2-button {
  background-color: #769fcd;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: calc(1em + 1vw);
}

.h2-button:hover {
  filter: brightness(90%);
}

.h2-a:hover {
  text-decoration: none;
}

#view-favourites {
  padding: 3vw;
}

#view-plans {
  padding: 3vw;
}

#view-announcements {
  padding: 3vw;
}

#home-button-group {
  padding: 0 2vw;
}
/* END HOME NEW VERSION */


/* START NEW VERSION */
#app-tagline {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 4rem;
  color: #769fcd;
}

.start-image {
  transform: rotate(-15deg);
  width: 100%;
  height: auto;
}

.start-page-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-buttons {
  padding: 1rem;
  width: 10rem;
  font-size: 1.2rem;
}

@media (min-width: 993px) {
  .start-page-div {
    margin-top: 4em;
  }
}

@media (max-width: 992px) {
  .start-page-items {
    padding: 4rem 2rem;
    text-align: center;
  }

  .start-image {
    width: 75%;
    height: auto;
    display: block;
    margin: -3rem auto auto;
  }
}

@media (max-width: 767px) {
  .start-page-items {
    padding: 1rem 2rem;
  }

  #app-tagline {
    font-size: 2.3rem;
    line-height: 3rem;
  }

  .start-image {
    width: 80%;
    margin: auto;
  }

  .start-buttons {
    width: 7rem;
    font-size: 1rem;
  }
}

/* END START NEW VERSION */

/* ANNOUNCEMENTS */
.read-check {
  color: springgreen;
  cursor: pointer;
}

.read-check:hover {
  filter: brightness(90%);
}

.flash_message{
  margin-top: 2rem;
}

/* confirm_email_token_sent*/
.middle-box{
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  background-color: #fff;
  margin-top: -77px;
}
.cets-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-bottom: 1rem;
  color: #403f49;
}
.cets-text h2,h4{
  padding-bottom: 1rem;
}

.spam-email {
  color: grey;
  font-size: 1.25rem;
}

.reset-middle-box{
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  background-color: #fff;
  margin-top: -77px;
}

.reset-button{
  text-align: center;
}

.sidenav {

  height: 100%;
  width: 250px;
  position: fixed;
  /*z-index: 1;*/
  /*top: 0;*/
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: solid rgba(0,0,0,.1);
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #769fcd;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 227px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 20px 0px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.account-details{
  text-align: left;
}

.account-title{
  font-size: 2rem;
}


.account-tag{
  /*display: inline-block;*/
  /*margin-right: 3rem;*/
  /*text-align: right;*/
}
.account-info{
  /*display: inline-block;*/
  /*text-align: left;*/
  overflow-wrap: break-word;
}

.account-head{
  color:#4C4C4C;
  font-weight:800;
  font-size: 4rem;
  text-align: left;
  padding-left: 10px;
}

@media only screen and (max-width: 598px) {
  .sidenav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    position: relative;
    width: 100%;
    height: 8rem;
    margin-bottom: 2rem;
    border: none;
  }

  .sidenav a {
     font-size: 1.4rem;
   }

  .main{
    bottom: 3rem;
    margin: auto;
    /*padding-top: 10px;*/
  }

  .account-head{
    text-align: center;
    font-size: 3rem;
  }

  .account-title{
    font-size: 1.25rem;
  }
}

.account-details{
  background-color:rgba(255,255,255,0.7);
  padding-top: 2rem;
  border: none;
  height: 80%;
  color: #4C4C4C;
}

.icon-user{
  display: inline-block;
}
.my-pro{
  display: inline-block;
}


.account-header{
  font-size: 2rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.account-preferences{
  padding-left: 20px;
  padding-bottom: 1rem;
}

.account-tag{
  /*padding-left: 1rem;*/
}

/*@media (min-width: 992px) {*/
/*  .account-middle-tab {*/
/*    border-top: 1px solid rgba(0, 0, 0, 0.1);*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*  }*/

/*  .account-tabs {*/
/*    border-right: 1px solid rgba(0, 0, 0, 0.1);*/
/*  }*/
/*  .account-content {*/
/*    height: 100vh;*/
/*    border-left: 1px solid rgba(0, 0, 0, 0.1);*/
/*  }*/
/*}*/

/*@media (max-width: 991.98px) {*/
/*  .account-middle-tab {*/
/*    border-left: 1px solid rgba(0, 0, 0, 0.1);*/
/*    border-right: 1px solid rgba(0, 0, 0, 0.1);*/
/*  }*/

/*  .account-tabs {*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*  }*/
/*}*/

@media (min-width: 992px) {
  .account-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
  }

  .account-tabs-catalog {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    font-size: 1.5rem;
  }

  .account-tabs-catalog .h2-button {
    font-size: 1.5rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

@media (max-width: 991.98px) {
  .account-grid {
    display: grid;
    grid-template-rows: 100px auto;
  }
  .account-tabs-catalog {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    font-size: 1rem;
  }

  .account-tabs-catalog .h2-button {
    font-size: 1rem;
    border-left: 1px solid;
    border-right: 1px solid;
  }
}

.email-check {
  font-size: 1.5rem;
}

.email-check input[type=checkbox] {
    zoom: 1.5;
}