{% extends 'account_page_layout.html' %}
{% block account_content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                 {% endwith %}
    <div class="account-head">
        <i class="fas fa-lock icon-user"></i>
        <p class="my-pro">Change Password</p>
    </div>
    <div class="card account-details">
        <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="old-password">Enter old password</label>
                        {{ form.old_password (class="form-control", id='old-password')}}
                    </div>
                    <div class="form-group">
                        <label for="new-password">Enter new password</label>
                        {{ form.new_password(class="form-control", id='new-password') }}
                    </div>
                    <div class="form-group">
                        <label for="confirm-new-password">Confirm new password</label>
                        {{ form.confirm_new_password(class="form-control", id='confirm-new-password') }}
                    </div>
                    <button class="btn btn-primary pref-btn btn-lg">{{ form.submit}}</button>
                </form>
        </div>
    </div>
{% endblock %}
