{% extends "base.html" %}
{% block content %}
    <div class="account-grid">
        <div class="account-tabs-catalog">
            <div class="w-100 h-100">
                <a href="{{ url_for('account') }}" class="h2-a">
                    <div class="h2-button w-100 h-100">
                        My Profile
                    </div>
                </a>
            </div>
            <div class="w-100 h-100">
                <a href="{{ url_for('account_email_pref') }}" class="h2-a">
                    <div class="h2-button w-100 h-100">
                        Email Preferences
                    </div>
                </a>
            </div>
            <div class="w-100 h-100">
                <a href="{{ url_for('account_change_password') }}" class="h2-a">
                    <div class="h2-button w-100 h-100">
                        Change Password
                    </div>
                </a>
            </div>
        </div>
        <div>
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block account_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}