{% extends "base.html" %}
{% block content %}
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="col-lg-2 col-12 account-tabs">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12 col-4">#}
{#                        <a href="{{ url_for('account') }}">My Account</a>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-4 account-middle-tab">#}
{#                        <a href="{{ url_for('account_email_pref') }}">Email Preferences</a>#}
{#                    </div>#}
{#                    <div class="col-lg-12  col-4">#}
{#                        <a href="{{ url_for('account_change_password') }}">Change Password</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="offset-lg-2 col-lg-10 col-12 account-content">#}
{#                {% with messages = get_flashed_messages(with_categories=true) %}#}
{#                    {% if messages %}#}
{#                        {% for category, message in messages %}#}
{#                            <div class="alert alert-{{ category }}">#}
{#                                {{ message }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                {% endwith %}#}
{#                {% block account_content %}#}
{#                {% endblock %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="account-grid">
        <div class="account-tabs-catalog">
            <div class="w-100 h-100">
                <a href="{{ url_for('account') }}" class="h2-a">
                    <div class="h2-button w-100 h-100">
                        My Account
                    </div>
                </a>
            </div>
            <div class="w-100 h-100">
                <a href="{{ url_for('account_email_pref') }}" class="h2-a">
                    <div class="h2-button w-100 h-100">
                        Email Preferences
                    </div>
                </a>
            </div>
            <div class="w-100 h-100">
                <a href="{{ url_for('account_change_password') }}" class="h2-a">
                    <div class="h2-button w-100 h-100">
                        Change Password
                    </div>
                </a>
            </div>
        </div>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="container">
                {% block account_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}