{% extends 'account_page_layout.html' %}
{% block account_content %}
    <div class="account-head">
        <i class="fas fa-user icon-user"></i>
        <p class="my-pro">My profile</p>
    </div>


    <div class="card account-details">
        <div class="card-body">
            <h1 class="account-header">Personal Details</h1>
            <div class="account-title">
                <p class="account-tag">Username</p>
                <p class="account-info">{{ current_user.username }}</p>
            </div>
            <div class="account-title">
                <p class="account-tag">Email</p>
                <p class="account-info">{{ current_user.email }}</p>
            </div>

        </div>
    </div>
{% endblock %}
