{% extends 'account_page_layout.html' %}
{% block account_content %}
    <div class="account-head">
        <i class="fas fa-user icon-user"></i>
        <p class="my-pro">My profile</p>
    </div>
    <div class="card account-details">
        <div class="card-body">
            <div class="row account-title">
                <div class="col-md-4">
                    <p class="account-tag"><strong>Username</strong></p>
                </div>
                <div class="col-md-8">
                    <p class="account-info">{{ current_user.username }}</p>
                </div>
            </div>
            <div class="row account-title">
                <div class="col-md-4">
                    <p class="account-tag"><strong>Email</strong></p>
                </div>
                <div class="col-md-8">
                    <p class="account-info">{{ current_user.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}