{% extends 'base.html' %}
{% block links %}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <h1>Edit Plan</h1>
        <button type="button" class="btn btn-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#deleteModal">Delete Plan</button>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.website.label }}
                {{ form.website(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.req_short.label }}
                {{ form.req_short(class="summernote") }}
            </div>
            <div class="form-group">
                {{ form.req_full.label }}
                {{ form.req_full(class="summernote") }}
            </div>
            <div class="form-group">
                {{ form.benefits_short.label }}
                {{ form.benefits_short(class="summernote") }}
            </div>
            <div class="form-group">
                {{ form.benefits_full.label }}
                {{ form.benefits_full(class="summernote") }}
            </div>
            <div class="form-group">
                {{ form.application.label }}
                {{ form.application(class="summernote") }}
            </div>
            <h2>Select Categories</h2>
            <div class="row">
                <div class="col-md-4">
                    {{ form.kw1.label }}
                    {{ form.kw1 }}
                </div>
                <div class="col-md-4">
                    {{ form.kw2.label }}
                    {{ form.kw2 }}
                </div>
                <div class="col-md-4">
                    {{ form.kw3.label }}
                    {{ form.kw3 }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form.kw4.label }}
                    {{ form.kw4 }}
                </div>
                <div class="col-md-4">
                    {{ form.kw5.label }}
                    {{ form.kw5 }}
                </div>
            </div>
            <button class="submit-button">{{ form.submit }}</button>
        </form>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Plan?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_plan', plan_id=plan.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
    $(document).ready(function() {
        $('.summernote').summernote();
    });
</script>
{% endblock %}