{% extends 'base.html' %}
{% block content %}
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="container-fluid h-100">
            <div id="home-button-group" class="row h-100 d-flex align-items-stretch">
                <div id="view-favourites" class="col-lg-4 col-md-6 ">
                    <a href="{{ url_for('favourites') }}" class="h2-a">
                        <div class="h2-button h-100">
                            <i class="icon fas fa-star fa-4x"></i>
                            <p>Favourites</p>
                        </div>
                    </a>
                </div>
                <div id="view-plans" class="col-lg-4 col-md-6">
                    <a href="{{ url_for('search') }}" class="h2-a">
                        <div class="h2-button h-100">
                            <i class="icon fas fa-th-list fa-4x"></i>
                            <p>Search Plans</p>
                        </div>
                    </a>
                </div>
                <div id="view-announcements" class="col-lg-4">
                    <a href="{{ url_for('announcements') }}" class="h2-a">
                        <div class="h2-button h-100">
                            <i class="icon fas fa-bullhorn fa-4x"></i>
                            {% if unread_count %}
                                <p>Announcements <span class="badge badge-pill badge-warning">{{ unread_count }}</span></p>
                            {% else %}
                                <p>Announcements</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}