{% extends "base.html" %} 
{% block content %}
<div>
  <div class="container-fluid" id="home">
    <div class="row">
      <a href="{{ url_for('favourites') }}" class="col-lg-4 feature-box">
        <div class="inner-box">
          <i class="icon fas fa-star fa-7x"></i>
          <p class="feature-title">View Favourites</p>
        </div>
      </a>
      <a href="{{ url_for('search') }}" class="col-lg-4 feature-box">
        <div class="inner-box">
          <i class="icon fas fa-th-list fa-7x"></i>
          <p class="feature-title">View Financial Plans</p>
        </div>
      </a>
      <a href="#" class="col-lg-4 feature-box">
        <div class="inner-box">
          <i class="icon fas fa-bullhorn fa-7x"></i>
          <p class="feature-title">View Announcements</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
