{% extends 'base.html' %}
{% block content %}
{#    <form method="POST" action="">#}
{#        {{ form.hidden_tag() }}#}
{#        {{ form.email }}#}
{#        {{ form.submit }}#}
{#    </form>#}
    <div class="d-flex align-items-center justify-content-center h-100 px-3">
        <div class="app-form-box">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <h3>Reset Password</h3>
                <p>Enter the email that you used to register. An email with the link to reset your password will be sent to you.</p>
                <div class="mt-4 form-group">
                    {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email address") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", placeholder="Email address") }}
                    {% endif %}
                </div>
                <button class="btn btn-lg btn-block btn-primary">{{ form.submit }}</button>
            </form>
        </div>
    </div>
{% endblock %}