{% extends 'base.html' %}
{% block content %}
     {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="d-flex align-items-center justify-content-center h-100 px-3">
        <div class="reset-middle-box">
            <div>
                <div class="cets-text">
                    <h2><strong>Forgot Your Password?</strong></h2>
                    <h4>Enter the email that you used to register. An email with the link to reset your password will be sent to you.</h4>
                </div>
                <div>
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group col-md-6 offset-md-3">
                            {{ form.email(class="form-control form-control-lg", id='password', placeholder="Email address") }}
                        </div>
                        <div class="form-group reset-button">
                            <button type="submit" class="btn btn-primary btn-lg">Request Password Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}